# -----------------------------------------------------------------------------
# File:        ulx3s-openocd.cfg
# Path:        openocd/ulx3s-openocd.cfg
#
# Project:     Hazard3-Doom
# Purpose:     Configure OpenOCD for Hazard3 debug through the ULX3S ECP5 TAP
#              and onboard FT231X auxiliary signals.
#
# Based on: Wren6991/Hazard3 example_soc/ulx3s-openocd.cfg
# Hazard3-Doom modifications: Copyright (c) 2026 gojimmypi
#
# Licensed under the Apache License, Version 2.0.
#
# SPDX-License-Identifier: Apache-2.0
#
# See LICENSES/Apache-2.0.txt for the complete license terms.
# See LICENSING.md and ATTRIBUTION.md for project licensing and provenance.
# -----------------------------------------------------------------------------

# Probe config specific to ULX3S.

adapter driver ft232r
transport select jtag
ft232r vid_pid 0x0403 0x6015

# Note adapter_khz doesn't do anything because this is bitbanged JTAG on aux
# UART pins, but... it's mandatory

adapter speed 1000

ft232r tck_num DSR
ft232r tms_num DCD
ft232r tdi_num RI
ft232r tdo_num CTS
# trst/srst are not used but must have different values than above
ft232r trst_num RTS
ft232r srst_num DTR

# This is the ID for the *FPGA's* chip TAP. (note this ID is for 85F version
# of ULX3S -- if you have a different ECP5 size you can either enter the
# correct ID for your ECP5, or remove the -expected-id part). We are going to
# expose processor debug through a pair of custom DRs on this TAP.

set _CHIPNAME lfe5u85
jtag newtap lfe5u85 hazard3 -expected-id 0x41113043 -irlen 8 -irmask 0xFF -ircapture 0x5

# We expose the DTMCS/DMI DRs you would find on a normal RISC-V JTAG-DTM via
# the ECP5 TAP's ER1/ER2 private instructions. As long as you use the correct
# IR length for the ECP5 TAP, and use the new instructions, the ECP5 TAP
# looks a lot like a JTAG-DTM.

set _TARGETNAME $_CHIPNAME.hazard3
target create $_TARGETNAME riscv -chain-position $_TARGETNAME
riscv set_ir dtmcs 0x32
riscv set_ir dmi 0x38

# That's it, it's a normal RISC-V processor now :)

gdb report_data_abort enable
init
